<!doctype html>
<html class="no-js" lang="{{ app.request.local|default('fr') }}" data-ng-app="app" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title data-ng-bind="title">{{ (title is defined)?title:'homepage'|trans }}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width">
    {% block stylesheets %}
        {% stylesheets debug=false filter='lessphp, cssmin' output='/assets/css/bootstrap.css'
        '../src/StapsSurvey/Resources/client/less/bootstrap.less'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        {% stylesheets debug=false filter='lessphp, cssmin' output='/assets/css/style.css'
        '../src/StapsSurvey/Resources/client/less/style.less'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        {% stylesheets debug=false output='/assets/css/font-awesome.css'
        '../bower_components/font-awesome/css/font-awesome.min.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        {% image debug=false output='/assets/fonts/FontAwesome.otf'
        '../bower_components/font-awesome/fonts/FontAwesome.otf' %}
        {% endimage %}
        {% image debug=false output='/assets/fonts/fontawesome-webfont.eot'
        '../bower_components/font-awesome/fonts/fontawesome-webfont.eot' %}
        {% endimage %}
        {% image debug=false output='/assets/fonts/fontawesome-webfont.svg'
        '../bower_components/font-awesome/fonts/fontawesome-webfont.svg' %}
        {% endimage %}
        {% image debug=false output='/assets/fonts/fontawesome-webfont.ttf'
        '../bower_components/font-awesome/fonts/fontawesome-webfont.ttf' %}
        {% endimage %}
        {% image debug=false output='/assets/fonts/fontawesome-webfont.woff'
        '../bower_components/font-awesome/fonts/fontawesome-webfont.woff' %}
        {% endimage %}
    {% endblock %}

    {% block javascripts_header %}
        {% javascripts filter='jsmin' debug=false output='/assets/libs/modernizr.js'
        '../bower_components/modernizr/modernizr.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

</head>
<body>
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <div class="container">
        <div id="main" role="main">
            {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
            {% for alert in alertTypeAvaillable %}
                {% for message in app.session.getFlashBag.get(alert) %}
                    <div class="alert alert-{{ alert }}" >
                        <button class="close" data-dismiss="alert">×</button>
                        {{ message|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block javascripts %}
        {% javascripts debug=false filter='jsmin' output='/assets/libs/jquery.js'
        '../bower_components/jquery/dist/jquery.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</body>
</html>