{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false output='/assets/css/angular-motion.css'
    '../bower_components/angular-motion/dist/angular-motion.min.css'
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}

    {% stylesheets debug=false output='/assets/css/angular-chart.css'
    '../bower_components/angular-chart.js/dist/angular-chart.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="step-progress-bar-container">
        <step-progress-bar page="page"></step-progress-bar>
    </div>

    <div data-ng-view  ng-class="{slide: true, right: isDownwards, left: !isDownwards}" class="ssp-quiz-container"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <!-- inject-libs: js -->
    {% javascripts debug=false filter='jsmin' output='/assets/libs/angular.js'
    '../bower_components/angular/angular.min.js'
    '../bower_components/angular-animate/angular-animate.min.js'
    '../bower_components/angular-sanitize/angular-sanitize.min.js'
    '../bower_components/angular-route/angular-route.min.js'
    '../bower_components/angular-touch/angular-touch.min.js'
    '../bower_components/angular-strap/dist/angular-strap.min.js'
    '../bower_components/angular-strap/dist/angular-strap.tpl.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts debug=false filter='jsmin' output='/assets/libs/underscore.js'
    '../bower_components/underscore/underscore-min.js'
    '../bower_components/angular-underscore-module/angular-underscore-module.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts debug=false output='/assets/libs/jspdf.min.js'
    '../bower_components/jspdf/dist/jspdf.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts debug=false output='/assets/libs/charts.js'
    '../bower_components/Chart.js/Chart.min.js'
    '../bower_components/angular-chart.js/dist/angular-chart.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- endinject -->

    <!-- inject: js -->
    <!-- Bootstraping -->
    {% javascripts debug=true output='/app/app.module.js'
    '../src/StapsSurvey/Resources/client/app/app.module.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- Blocks -->
    {% javascripts debug=true output='/app/blocks/router.js'
    '../src/StapsSurvey/Resources/client/app/blocks/router/router.module.js'
    '../src/StapsSurvey/Resources/client/app/blocks/router/routehelper.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- Core -->
    {% javascripts debug=true output='/app/core/core.js'
    '../src/StapsSurvey/Resources/client/app/core/core.module.js'
    '../src/StapsSurvey/Resources/client/app/core/core.config.js'
    '../src/StapsSurvey/Resources/client/app/core/data.service.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        (function() {
            'use strict';

            var quiz = {{ quiz|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }};
            var translations = {'results':"{{ 'results'|trans|raw}}",
                'results_title':"{{ 'results_title'|trans|raw}}",
                'results_intro':"{{ 'results_intro'|trans|raw}}",
                'axis':"{{ 'axis'|trans|raw }}",
                'results_explain':"{{ 'results_explain'|trans|raw}}"};
            angular
                    .module('app.core')
                    .constant('quiz.json',quiz)
                    .constant('translations', translations);
        })();
    </script>

    <!-- Layout -->
    {% javascripts debug=true output='/app/layout/layout.js'
    '../src/StapsSurvey/Resources/client/app/layout/layout.module.js'
    '../src/StapsSurvey/Resources/client/app/layout/stepprogressbar.directive.js'
    '../src/StapsSurvey/Resources/client/app/layout/partials/stepprogressbar.tpl.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- Results -->
    {% javascripts debug=true output='/app/results/results.js'
    '../src/StapsSurvey/Resources/client/app/results/results.module.js'
    '../src/StapsSurvey/Resources/client/app/results/results.route.js'
    '../src/StapsSurvey/Resources/client/app/results/results.controller.js'
    '../src/StapsSurvey/Resources/client/app/results/partials/results.tpl.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- endinject -->

    <!-- Quiz -->
    {% javascripts debug=true output='/app/quiz/quiz.js'
    '../src/StapsSurvey/Resources/client/app/quiz/quiz.module.js'
    '../src/StapsSurvey/Resources/client/app/quiz/quiz.route.js'
    '../src/StapsSurvey/Resources/client/app/quiz/quiz.controller.js'
    '../src/StapsSurvey/Resources/client/app/quiz/quiz.directive.js'
    '../src/StapsSurvey/Resources/client/app/quiz/quiz-question.directive.js'
    '../src/StapsSurvey/Resources/client/app/quiz/quiz-subquestion.directive.js'
    '../src/StapsSurvey/Resources/client/app/quiz/quiz.filter.js'
    '../src/StapsSurvey/Resources/client/app/quiz/partials/quiz.tpl.js'
    '../src/StapsSurvey/Resources/client/app/quiz/partials/question.tpl.js'
    '../src/StapsSurvey/Resources/client/app/quiz/partials/subquestion.tpl.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- endinject -->

{% endblock %}